<?php

/**
 * Config example
 */

$localBaseDir = '/var/www/casanoi';

$sshParams = array(
                'user' => 'ideato',
              );

$targets = array(
                'prod' => array(
                                'hosts' => array('localhost'),
                                'localBaseFolder' => $localBaseDir,
                                'remoteBaseFolder' => "/tmp/idephix_test/",
                                'rsync_exclude_file' => 'rsync_exclude.txt'
                               ),
                'stag' => array(
                                'hosts' => array('192.168.69.106'),
                                'localBaseFolder' => $localBaseDir,
                                'remoteBaseFolder' => "/var/sites/idephix.ideato.it/",
                                'rsync_exclude_file' => 'rsync_exclude.txt'
                               ),
              );

$idx->
    add('deploy:deploy',
        /** @Description Esegue il deploy specificando l'environment */
        function($env, $dryRun = '--dry-run') use ($idx)
        {
            if ($dryRun != '--go') {
                echo "\nDry Run\n";
            }
            $idx->setEnvironment($env);
            $idx->setDryRun($dryRun != '--go');
            $idx->remotePrepare();
            $idx->copyCode();
            $idx->remoteLinkSharedFolders();
            $idx->assetic();
            $idx->switchToTheNextRelease();
        })->

    add('test:run',
        /** @Description Lancia i test di PHPUnit nella directory test */
        function() use ($idx)
        {
            $idx->runPhpUnit(' test');
        })->

    add('idephix:update',
        function ()
        {
            $cwd = getcwd();
            passthru("cd /var/www/idephix && php phar_creator.php && cp idephix.phar ".$cwd."/bin/idephix.phar");
        })->
    add('idephix:test-params',
        /** @Description <========== LANCIAMI =========== */
        function ($param1, $param2, $param3 = 'default')
        {
            echo 'Param1: '.$param1."\n";
            echo 'Param2: '.$param2."\n";
            echo 'Param3: '.$param3."\n";
        });
