<?php

use Idephix\Idephix;
use Idephix\Extension\Deploy\Deploy;
use Idephix\Extension\PHPUnit\PHPUnit;
use Idephix\SSH\SshClient;

$localBaseDir = __DIR__;

$sshParams = array(
    'user' => 'ideato',
);

$targets = array(
    'prod' => array(
        'hosts' => array('12.12.12.12'),
        'local_base_folder' => $localBaseDir,
        'remote_base_folder' => "/var/www/my-project/",
        'rsync_exclude_file' => 'rsync_exclude.txt',
        'ssh_params' => $sshParams
    ),
    'stage' => array(
        'hosts' => array('192.168.169.170'),
        'local_base_folder' => $localBaseDir,
        'remote_base_folder' => "/var/sites/my-project.ideato.it/",
        'rsync_exclude_file' => 'rsync_exclude.txt',
        'ssh_params' => $sshParams
    ),
    'test' => array(
        'hosts' => array('127.0.0.1'),
        'local_base_folder' => $localBaseDir,
        'remote_base_folder' => "/tmp/my-project.ideato.it/",
        'rsync_exclude_file' => 'rsync_exclude.txt',
        'ssh_params' => array('user' => 'kea')
    ),
);

$idx = new Idephix(new SshClient(), $targets);

$idx->
    /**
     * Esegue il deploy specificando l'environment
     * @param bool $go se specificato esegue il deploy, altrimenti dry-run
     */
    add('project:deploy',
        function ($go = false) use ($idx)
        {
            if (!$go) {
                echo "\nDry Run\n";
            }
            $idx->setUpEnvironment();
            $idx->setDryRun(!$go);
            $idx->remotePrepare(true);
            $idx->copyCode();
            $idx->remoteLinkSharedFolders();
            $idx->cacheClear();
            $idx->switchToTheNextRelease();
            $idx->assetic();
            if ($idx->getCurrentTargetName() == 'stage') {
                $idx->updateSchema();
            }
            $idx->deleteOldReleases(6);
        })->
    /**
     * Esegue tutti i test compresi quelli di Selenium
     * @param bool $log Se specificato, questo flag attiva il log su file
     */
    add('test:run',
        function ($log = false) use ($idx)
        {
            $log = $log ? ' --log-junit junit.xml' : '';
            $idx->runTask('test:start-selenium-server');
            $idx->runPhpUnit('-c app/ --stderr'.$log);
            $idx->runTask('test:stop-selenium-server');
        })->
    add('test:run-selenium',
        function ($filter = '') use ($idx)
        {
            if (!empty($filter)) {
                $filter = ' --filter '.$filter;
            }
            $idx->runTask('test:start-selenium-server');
            $idx->runPhpUnit('-c app/ --stderr '.$filter.' src/Idephix/CasanoiBundle/Tests/Selenium/ --log-junit junit-selenium.xml');
            $idx->runTask('test:stop-selenium-server');
        })->
    add('test:start-selenium-server',
        function () use ($idx)
        {
            $idx->locale("java -jar bin/selenium-server-standalone-2.25.0.jar >/dev/null 2>&1 &");
            sleep(5);
        })->
    add('test:stop-selenium-server',
        function ()
        {
            file_get_contents('http://localhost:4444/selenium-server/driver/?cmd=shutDownSeleniumServer');
        })->
    add('test:run-no-selenium',
        function ($filter = '') use ($idx)
        {
            if (!empty($filter)) {
                $filter = ' --filter '.$filter;
            }
            $idx->runPhpUnit('-c app/ --stderr '.$filter.' --exclude-group=selenium  --log-junit junit.xml');
        })->
    /** <========== LANCIAMI =========== */
    add('idephix:test-params',
        function ($param1, $param2, $param3 = 'default')
        {
            echo 'Param1: '.$param1."\n";
            echo 'Param2: '.$param2."\n";
            echo 'Param3: '.$param3."\n";
        });

$idx->addLibrary('deploy', new Deploy());
$idx->addLibrary('phpunit', new PHPUnit());
$idx->run();
